# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files (macOS)
.DS_Store

# IDE or Editor specific files
.vscode/
.idea/

# Temporary files
*.tmp
